<div class="container">
  <h1 class="text-center">Search Results</h1>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="list-group">
        <% @facade.search.each_with_index do |result, index| %>
          <div class="list-group-item <%= index.odd? ? 'bg-light' : '' %>">
            <% if result.class == Plate %>
              <h5 class="mb-1"><%= link_to result.plate_number, plate_path(result.id) %></h5>
            <% elsif result.class == Post %>
              <h5 class="mb-1"><%= link_to result.title, post_path(result.id) %></h5>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
