<div id="map" style="height: 400px; width: 100%;"></div>
<script>
  async function initMap() {
    const { Map } = await google.maps.importLibrary("maps");
    const { Marker } = await google.maps.importLibrary("marker");

    const map = new Map(document.getElementById("map"), {
      center: { lat: 39.7392, lng: -104.9903 },
      zoom: 4,
    });

    <% locations_array = @locations.flatten.map do |loc| 
      {lat: loc[:attributes][:lat], lng: loc[:attributes][:lng], id: loc[:id]} 
    end %>

    const locations = <%= locations_array.to_json.html_safe %>;

    for (let i = 0; i < locations.length; i++) {
      const marker = new Marker({
        position: { lat: locations[i].lat, lng: locations[i].lng },
        map: map,
        title: 'Marker number ' + i,
      });

      marker.addListener('click', () => {
        window.location.href = '/post/' + locations[i].id;
      });
    }
  }
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAPS_API_KEY"]%>&callback=initMap">
</script>

<br>
<h1>Popular Posts</h1>
