---
http_interactions:
- request:
    method: post
    uri: https://commentanalyzer.googleapis.com/v1alpha1/comments:analyze?key=DONT_SHARE_MY_DATA_7
    body:
      encoding: UTF-8
      string: '{"comment":{"text":"Gays shouldn''t be allowed to get married."},"requestedAttributes":{"TOXICITY":{},"IDENTITY_ATTACK":{},"INSULT":{},"PROFANITY":{},"THREAT":{}}}'
    headers:
      Content-Type:
      - application/json, DONT_SHARE_MY_DATA_7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "attributeScores": {
            "PROFANITY": {
              "spanScores": [
                {
                  "begin": 0,
                  "end": 41,
                  "score": {
                    "value": 0.26638454,
                    "type": "PROBABILITY"
                  }
                }
              ],
              "summaryScore": {
                "value": 0.26638454,
                "type": "PROBABILITY"
              }
            },
            "THREAT": {
              "spanScores": [
                {
                  "begin": 0,
                  "end": 41,
                  "score": {
                    "value": 0.0824309,
                    "type": "PROBABILITY"
                  }
                }
              ],
              "summaryScore": {
                "value": 0.0824309,
                "type": "P[...]
[...]
