---
http_interactions:
- request:
    method: post
    uri: https://commentanalyzer.googleapis.com/v1alpha1/comments:analyze?key=AIzaSyAIgO12J6pdi6Ltu76JwujAggk5WPNvU_4
    body:
      encoding: UTF-8
      string: '{"comment":{"text":"Gays shouldn''t be allowed to get married."},"requestedAttributes":{"TOXICITY":{},"IDENTITY_ATTACK":{},"INSULT":{},"PROFANITY":{},"THREAT":{}}}'
    headers:
      Content-Type:
      - application/json, AIzaSyAIgO12J6pdi6Ltu76JwujAggk5WPNvU_4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "attributeScores": {
            "TOXICITY": {
              "spanScores": [
                {
                  "begin": 0,
                  "end": 41,
                  "score": {
                    "value": 0.65996873,
                    "type": "PROBABILITY"
                  }
                }
              ],
              "summaryScore": {
                "value": 0.65996873,
                "type": "PROBABILITY"
              }
            },
            "INSULT": {
              "spanScores": [
                {
                  "begin": 0,
                  "end": 41,
                  "score": {
                    "value": 0.38852,
                    "type": "PROBABILITY"
                  }
                }
              ],
              "summaryScore": {
                "value": 0.38852,
                "type": "PROBA[...]
[...]
