
<div id="map" style="height: 400px; width: 100%;"></div>

<script>
  async function initMap() {
    const { Map } = await google.maps.importLibrary("maps");
    const { Marker } = await google.maps.importLibrary("marker");

    map = new Map(document.getElementById("map"), {
      center: { lat: 39.7392, lng: -104.9903 },
      zoom: 4,
    });

    var locations = [
        { lat: 39.7392, lng: -104.9903 },
        { lat: 40.7128, lng: -74.0060 },
      ];

    for (var i = 0; i < locations.length; i++) {
      let marker = new Marker({
        position: locations[i],
        map: map,
        title: 'Marker number ' + i,
      });

      marker.addListener('click', function() {
        window.location.href = '/users';
      });
    }
  }
</script>


<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%=ENV["GOOGLE_MAPS_API_KEY"]%>&callback=initMap">
</script>
