---
http_interactions:
- request:
    method: post
    uri: https://commentanalyzer.googleapis.com/v1alpha1/comments:analyze?key=DONT_SHARE_MY_DATA_7
    body:
      encoding: UTF-8
      string: '{"comment":{"text":"I''m going to make you wash your dishes."},"requestedAttributes":{"TOXICITY":{},"IDENTITY_ATTACK":{},"INSULT":{},"PROFANITY":{},"THREAT":{}}}'
    headers:
      Content-Type:
      - application/json, DONT_SHARE_MY_DATA_7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "attributeScores": {
            "TOXICITY": {
              "spanScores": [
                {
                  "begin": 0,
                  "end": 39,
                  "score": {
                    "value": 0.38811707,
                    "type": "PROBABILITY"
                  }
                }
              ],
              "summaryScore": {
                "value": 0.38811707,
                "type": "PROBABILITY"
              }
            },
            "INSULT": {
              "spanScores": [
                {
                  "begin": 0,
                  "end": 39,
                  "score": {
                    "value": 0.08410009,
                    "type": "PROBABILITY"
                  }
                }
              ],
              "summaryScore": {
                "value": 0.08410009,
                "type": [...]
[...]
