---
http_interactions:
- request:
    method: post
    uri: https://commentanalyzer.googleapis.com/v1alpha1/comments:analyze?key=AIzaSyAIgO12J6pdi6Ltu76JwujAggk5WPNvU_4
    body:
      encoding: UTF-8
      string: '{"comment":{"text":"You''d better hope I never find you, because I''m
        going to make your life miserable."},"requestedAttributes":{"TOXICITY":{},"IDENTITY_ATTACK":{},"INSULT":{},"PROFANITY":{},"THREAT":{}}}'
    headers:
      Content-Type:
      - application/json, AIzaSyAIgO12J6pdi6Ltu76JwujAggk5WPNvU_4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "attributeScores": {
            "PROFANITY": {
              "spanScores": [
                {
                  "begin": 0,
                  "end": 82,
                  "score": {
                    "value": 0.33453682,
                    "type": "PROBABILITY"
                  }
                }
              ],
              "summaryScore": {
                "value": 0.33453682,
                "type": "PROBABILITY"
              }
            },
            "THREAT": {
              "spanScores": [
                {
                  "begin": 0,
                  "end": 82,
                  "score": {
                    "value": 0.65849507,
                    "type": "PROBABILITY"
                  }
                }
              ],
              "summaryScore": {
                "value": 0.65849507,
                "type": [...]
[...]
