<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Platebook</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/plates">Plates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users">People</a>
        </li>

        <% if current_user %>
        <li class="nav-item">
          <a class="nav-link" href="/posts/new" data-turbolinks="false">New Post</a>
        </li>
        <% end %>

        <% if current_user %>
        <li class="nav-item">
          <%= link_to "Dashboard", user_path(current_user), class: "nav-link" %>
        </li>
        <% end %>

        <% if current_user.nil? %>
            <li class="nav-item">
                <%= link_to "Login", "/auth/google_oauth2", class: "nav-link active" %>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to "Logout", "/logout", method: :delete, class: "nav-link active" %>
            </li>
        <% end %>

      </ul>
      <form class="form-inline my-2 my-lg-0 ml-auto customClass" action="/search" method="GET">
        <div class="input-group">
          <select id="category" class="custom-select" name="category" onchange="showEmotion(this)">
            <option selected value="plates">Plates</option>
            <option value="posts">Posts</option>
          </select>

          <select id="emotion" class="custom-select" name="emotion" style="display: none;">
            <option selected>None</option>
            <option value="anger">Anger</option>
            <option value="confusion">Confusion</option>
            <option value="happy">Happy</option>
            <option value="disgust">Disgust</option>
            <option value="envy">Envy</option>
            <option value="sad">Sad</option>
            <option value="funny">Funny</option>
            <option value="proud">Proud</option>
            <option value="love">Love</option>
          </select>

          <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="query">
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>

<script>
function showEmotion(el) {
   document.getElementById('emotion').style.display = (el.value == "posts" ? "block" : "none");
}

</script>